#left-eye {
  animation: eye-translate 3s ease infinite;
}

#right-eye {
  animation: eye-translate 3s ease infinite;
}

@keyframes eye-translate {
  0% {
    transform: translatex(0px);
  }

  100% {
    transform: translatex(20px);
  }
}

#left-ear {
  transition: all .5s linear;
}

#right-ear {
  transition: all .5s linear;
}

#bear:hover #left-ear{
  transform: translateY(20px);
}

#bear:hover #right-ear {
  transform: translateY(20px);
}
